<!DOCTYPE html>
<html>
<head>
  <title>EatsystreetRails</title>
  <link media="all" rel="stylesheet" href="/css/main.css" />
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
